.poster {
    padding-right: 10px; 
    scroll-snap-align: start;
}
.poster .image {
    overflow: hidden;
}
.poster .image img {
    width: 100%;
    transition: transform 0.5s ease;
}
.poster .image:hover img {
    transform: scale(1.1);
}
.poster .title {
    margin: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.poster .year {
    color: #80868B;
    margin-left: 20px;
}
.explore {
    width: 240px;
    height: 360px;
    color: #FFE170;
    background-color: #262626;
}