.rating {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rating img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.rating div {
    color: #FFE170;
    font-weight: 700;
}