.cast {
    width: 200px;
    padding-right: 10px;
    scroll-snap-align: start;
}
.cast .image {
    overflow: hidden;
}
.cast .image img {
    width: 100%;
    transition: transform 0.5s ease;
}
.cast .image:hover img {
    transform: scale(1.1);
}
.cast .name {
    margin: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cast .character {
    color: #80868B;
}