.cast {
    width: 200px;
    padding-right: 10px;
    box-sizing: border-box;
    scroll-snap-align: start;
    overflow: hidden;
    flex-shrink: 0;
}
.cast .photo, .cast .default-photo {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 150%;    /* TIPS: This is your aspect ratio */
    overflow: hidden;
    background-color: #202124;
}
.cast .default-photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    transition: transform 0.5s ease;
}
.cast .photo img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}
.cast .photo:hover img, .cast .default-photo:hover img {
    transform: scale(1.1);
}
.cast .name {
    margin: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cast .character {
    color: #80868B;
}
.cast-grid {
    width: 16.666666%;
    margin-bottom: 40px;
}

@media only screen and (max-width: 1500px) {
    .cast-grid {
        width: 20%;
    }
}

@media only screen and (max-width: 1024px) {
    .cast-grid {
        width: 25%;
    }
}

@media only screen and (max-width: 640px) {
    .cast-grid {
        width: 33.333333%;
    }
}