.footer {
    margin: 100px 50px 50px 50px;
    color: #80868B;
}
.footer a {
    font-weight: 700;
    color: #80868B;
}
.footer .tmdb {
    color: #01d277;
}

@media only screen and (max-width: 1500px) {
   
}

@media only screen and (max-width: 1024px) {
    .footer {
        margin: 100px 30px 80px 30px;
    }
}

@media only screen and (max-width: 640px) {
    .footer {
        margin: 100px 20px 70px 20px;
    }
}

@media only screen and (max-width: 480px) {
   
}