.headline {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
}
.headline span {
    width: 500px;
    background-color: #000000;
}
.headline .backdrop {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-size: 110% 110%;
    animation: shrink 10s infinite alternate; */
}

/* @keyframes shrink {
    0% {
      background-size: 110% 110%;
    }
    100% {
      background-size: 100% 100%;
    }
} */
.headline .desc {
    position: absolute;
    padding: 50px;
    max-width: 600px;
    height: 600px;
    box-sizing: border-box;
}
.headline .desc .title {
    font-size: 2.4em;
}
.headline .desc .info {
    margin: 20px 0;
}
.headline .desc .info h5 {
    color: #80868B;
    margin-left: 20px;
}

.trailer-button {
    width: 180px;
    height: 50px;
    margin: 20px 0;
    color: #FFF;
    font-size: 1em;
    background-color: #202125;
    border: none;
    outline:none;
    cursor: pointer;
}
.trailer-button:hover {
    background-color: #262626;
}
.trailer-button img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}


@media only screen and (max-width: 1500px) {

}

@media only screen and (max-width: 1024px) {
    .headline span {
        width: 50%;
    }
}


@media only screen and (max-width: 640px) {
    .headline .backdrop {
        background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(255,255,255,0) 100%)
    }
}

@media only screen and (max-width: 480px) {

}
