.headline {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
}
.headline span {
    width: 500px;
    background-color: #000000;
}
.headline .backdrop {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.headline .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding: 50px;
    max-width: 600px;
    height: 600px;
    box-sizing: border-box;
}
.headline .desc .title {
    font-size: 2.4em;
}
.headline .desc .info {
    margin: 20px 0;
}
.headline .desc .info h5 {
    color: #80868B;
    margin-left: 20px;
}

.trailer-button {
    width: 180px;
    height: 50px;
    margin: 20px 0;
    color: #FFF;
    font-size: 1em;
    background-color: #202125;
    border: none;
    outline:none;
    cursor: pointer;
}
.trailer-button:hover {
    background-color: #262626;
}
.trailer-button img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.trailer-play {
    display: none;
    width: 64px;
    height: 64px;
}


@media only screen and (max-width: 1500px) {

}

@media only screen and (max-width: 1024px) {
    .headline {
        flex-direction: column-reverse;
        height: 500px;
    }
    .headline .backdrop {
        height: 400px;
    }
    .headline span {
        width: 100%;
        height: 100px;
        box-sizing: border-box;
    }
    .headline .desc {
        justify-content: flex-end;
        max-width: 100%;
        padding: 30px;
    }

    .trailer-button {
        display: none;
    }
    .trailer-play {
        display: block;
    }
}


@media only screen and (max-width: 640px) {
    .headline {
        height: 400px;
    }
    .headline .backdrop {
        height: 350px;
    }
    .headline span {
        width: 100%;
        height: 50px;
    }
    .headline .desc .title {
        font-size: 2.0em;
    }
    .headline .desc {
        padding: 20px;
    }
    .headline .desc .info {
        margin: 10px 0;
        margin-bottom: 0;
    }
    .headline .desc .info .duration,
    .headline .desc .info .year,
    .headline .desc p {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .headline {
        height: 350px;
    }
    .headline .backdrop {
        height: 300px;
    }
    .headline span {
        width: 100%;
        height: 50px;
    }
    .headline .desc .title {
        font-size: 1.8em;
    }
}
