@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
/* 
#FFFFFF
#FFE170
#80868B
#202124
#262626
#141414
#000000
#01d277
*/

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.chorizontal {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.cvertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content {
	  padding-left: 100px;
	  overflow: hidden;
}

.title-section {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin: 50px 0 20px 50px; 
}
.title-section h3 {
	margin-right: 10px;
}
.link {
	color: #FFE170;
	cursor: pointer;
}


/*  /movie  */
.tab {
	width: 100%;
	height: 100px;
}
.tab div {
	margin: 0 20px;
	padding: 5px 0;
	font-size: 1.2em;
	color: #80868B;
	cursor: pointer;
}
.tab div:hover {
	color: #FFF;
}

.overview {
	width: 100%;
	margin-top: 20px 0;
}
.movie-info {
	display: flex;
	flex-direction: row;
	margin: 0px 50px; 
}
.movie-info .poster {
	width: 320px;
	flex-shrink: 0;
}
.movie-info .poster img {
	width: 100%;
}
.movie-info .detail {
	margin-left: 40px;
}
.movie-info .detail .title {
	font-size: 1.4em;
	margin-bottom: 20px;
}
.movie-info .detail ul {
	margin: 40px 0;
}
.movie-info .detail li {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}
.movie-info .detail li span {
	width: 150px;
	flex-shrink: 0;
}
.movie-info .detail .reviews {
	margin-left: 10px;
	color: #80868B;
}

.photos {
	width: 100%;
	margin-top: 20px 0;
}
.photos .title-section {
	margin-top: 0;
}
.photos .title-section h6 {
	color: #80868B;
}
.photos .backdrops, .photos .posters {
	display: flex;
	flex-wrap: wrap;
	margin: 0 50px;
	margin-bottom: 50px;
}
.photos .backdrops img {
	width: 20%;
}
.photos .posters img {
	width: 16.666666%;
}
.photos .backdrops img, .photos .posters img {
	padding-right: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
	cursor: pointer;
}

.videos {
	display: flex;
	flex-wrap: wrap;
	margin: 0 50px;
}
.videos .video {
	width: 25%;
	padding-right: 20px;
	padding-bottom: 40px;
	box-sizing: border-box;
}
.videos .video .thumbnail {
	position: relative;
}
.videos .video .thumbnail img {
	width: 100%;
}
.videos .video .thumbnail .play {
	position: absolute;
	top: 0; 
	bottom: 0;
	left: 0; 
	right: 0;
	margin: auto;
	width: 64px;
	height: 64px;
	z-index: 1;
}
.videos .video .title h5 {
	margin: 10px 0;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.videos .video .title h6 {
	color: #80868B;
}
/*  /movie  */


.default-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	height: 480px;
	flex-shrink: 0;
	background-color: #202124;
}
.default-image img {
	width: 40px;
    height: 40px;
}


/* /person */
.m-profile {
	display: none;
}
.m-profile .overview .photo {
	float: left;
	width: 200px;
	margin-right: 15px;
	flex-shrink: 0;
}
.profile {
	display: flex;
	flex-direction: row;
	margin: 50px;
}
.profile .photo {
	width: 320px;
	flex-shrink: 0;				/* prevent div shrinking inside flexbox (even has set width) */
}
.profile .photo img, .m-profile .overview .photo img {
	width: 100%;
}
.profile .overview {
	margin-left: 50px;
}
.profile .overview h2, .m-profile .overview h2  {
	margin-bottom: 20px;
}
.profile .overview p, .m-profile .overview p {
	white-space: pre-line;		/* related with \n */
}
.profile .overview ul, .m-profile ul {
	margin: 40px 0;
}
.profile .overview li, .m-profile li {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}
.profile .overview li span, .m-profile li span {
	width: 150px;
}
.movies, .persons, .results {
	display: flex;
	flex-wrap: wrap;
	margin: 0 50px;
	margin-bottom: 50px;
}

.timeline {
	margin: 0 50px;
}
.timeline li {
	padding: 20px;
	margin-bottom: 5px;
	background-color: #202124;
}
.timeline li .year {
	width: 100px;
	flex-shrink: 0;
}
.timeline li .role span {
	flex: 1;
	color: #80868B;
}
/* /person */


.loading {
	text-align: center;
	color: #80868B;
}


.credits {
	margin: 50px;
	color: #80868b;
}
.credits a {
	font-weight: 500;
	color: #80868b;
}
.credits p {
	font-style: italic;
	margin-top: 50px;
}
.credits .title {
	font-weight: 700;
	margin-bottom: 5px;
}
.credits .logo {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}


/* scroll */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
	width: 5px;
	height: 2px;
	background-color: transparent;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
	width: 5px;
	height: 2px;
	background-color: #000;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
	width: 5px;
	height: 2px;
	background-color: #262626;
}
/* scroll */








/* responsive */
@media only screen and (max-width: 1500px) {

	.movie-info .poster, .movie-info .default-image, 
	.profile .photo {
		width: 280px;
	}


	.photos .backdrops img {
		width: 25%;
	}
	.photos .posters img {
		width: 20%;
	}
}

@media only screen and (max-width: 1024px) {

	.content {
		padding-left: 0;
	}
	.title-section {
		margin: 50px 0 20px 30px;
	}

	/* /movie */
	.tab div {
		font-size: 1.0em;
	}
	.movie-info, .profile .overview {
		margin: 0px 30px; 
	}
	.movie-info .poster, .movie-info .default-image {
		width: 200px;
	}
	.movie-info .detail {
		margin-left: 20px;
	}
	.movie-info .detail .title {
		margin-bottom: 10px;
	}
	.movie-info .detail ul, .m-profile ul {
		margin: 30px 0;
	}
	.movie-info .detail li, .m-profile li {
		margin-bottom: 15px;
	}
	.movie-info .detail li span, .m-profile li span {
		width: 120px;
	}

	/* /person */
	.m-profile {
		display: block;
		margin: 30px;
	}
	.profile {
		display: none;
	}
	.timeline {
		margin: 0 30px;
	}

	.credits {
		margin: 30px;
	}


	.movies, .persons, .results {
		margin: 0 30px;
		margin-bottom: 50px;
	}


	.photos .backdrops, .photos .posters {
		margin: 0 30px;
		margin-bottom: 50px;
	}
	.photos .backdrops img {
		width: 33.333333%;
	}
	.photos .posters img {
		width: 25%;
	}

	.videos {
		margin: 0 30px;
	}
	.videos .video {
		width: 33.333333%;
	}
	.videos .video .thumbnail .play {
		width: 48px;
		height: 48px;
	}
}

@media only screen and (max-width: 640px) {

	.title-section {
		margin: 50px 0 20px 20px;
	}

	/* /movie */
	.movie-info {
		margin: 0px 20px; 
	}
	.movie-info .poster, .movie-info .default-image,
	.profile .photo, .profile .default-image {
		display: none;
	}
	.movie-info .detail {
		margin-left: 0;
	}

	/* /person */
	.m-profile {
		margin: 20px;
	}
	.m-profile .overview .photo {
		width: 40%;
		max-width: 200px;
	}
	.timeline {
		margin: 0 20px;
	}
	.timeline li .year {
		width: 70px;
	}

	.credits {
		margin: 20px;
	}

	.movies, .persons, .results {
		margin: 0 20px;
	}

	.photos .backdrops, .photos .posters {
		margin: 0 20px;
		margin-bottom: 50px;
	}
	.photos .backdrops img {
		width: 50%;
	}
	.photos .posters img {
		width: 33.333333%;
	}

	.videos {
		margin: 0 20px;
	}
	.videos .video {
		width: 50%;
		padding-right: 10px;
	}
}

@media only screen and (max-width: 480px) {
	.videos .video {
		width: 100%;
		padding-right: 0;
	}
	.videos .video .thumbnail .play {
		width: 64px;
		height: 64px;
	}
}
