@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
/* 
#FFFFFF
#FFE170
#80868B
#262626
#141414
#000000
#01d277
*/

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.chorizontal {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.cvertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content {
  	margin-left: 100px;
}

.title-section {
	display: flex;
	flex-direction: row;
	margin: 50px 0 20px 50px; 
}



/* scroll */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
	width: 5px;
	height: 2px;
	background-color: transparent;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
	width: 5px;
	height: 2px;
	background-color: #000;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
	width: 5px;
	height: 2px;
	background-color: #FFE170;
}
/* scroll */